# SLURM Kernel Demonstration

In [2]:
sleep 10

execution aborted by user

In [2]:
INSERT INTO stocks VALUES ('2006-01-05', 'é', 'RHAT', 100, 35.14);
INSERT INTO stocks VALUES ('2006-01-06', 'SELL', 'RHAT', 100, 33.14);

1 row affected; no row returned
1 row affected; no row returned

In [3]:
SELECT * FROM stocks;

date,trans,symbol,qty,price
2006-01-05,é,RHAT,100.0,35.14
2006-01-06,SELL,RHAT,100.0,33.14

3 rows returned

In [4]:
SELECT * FROM stocks WHERE (trans == "SELL")

date,trans,symbol,qty,price
2006-01-06,SELL,RHAT,100.0,33.14

2 rows returned

In [5]:
DROP TABLE stocks;

no row returned