# SQL Kernel (Demonstration)
This is a demonstration of a very simple, yet powerful SQL kernel for Jupyter built on top of the [Callysto](https://github.com/ajmazurie/Callysto) project.

Upon creation this kernel creates a [SQLite](https://www.sqlite.org/) database which can then be manipulated by inputing SQL commands. Results are then displayed through meaningful messages or even tables, which makes this kernel excellent for teaching students about databases:

In [10]:
-- drop the table if it already exists
DROP TABLE IF EXISTS stocks;

-- then create a new one
CREATE TABLE stocks (
    transaction_date TEXT,
    transaction_type TEXT,
    symbol TEXT,
    qty REAL,
    price REAL)

2 statements received
statement 1 (DROP): no rows returned
statement 2 (CREATE): no rows returned

In [11]:
-- insert some example data into this table
INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14);
INSERT INTO stocks VALUES ('2006-01-06', 'SELL', 'RHAT', 100, 33.14);

2 statements received
statement 1 (INSERT): 1 row affected; no rows returned
statement 2 (INSERT): 1 row affected; no rows returned

In [12]:
-- show the whole content of the table
SELECT * FROM stocks;

1 statement received

transaction_date,transaction_type,symbol,qty,price
2006-01-05,BUY,RHAT,100.0,35.14
2006-01-06,SELL,RHAT,100.0,33.14

2 rows returned

In [13]:
SELECT * FROM stocks WHERE (transaction_type == "SELL")

1 statement received

transaction_date,transaction_type,symbol,qty,price
2006-01-06,SELL,RHAT,100.0,33.14

1 row returned

In [14]:
DROP TABLE stocks;

1 statement received
no rows returned